# http://docs.travis-ci.com/user/languages/android/
language: android
jdk: oraclejdk8

android:
  components:
    - tools
    - build-tools-25.0.2
    - android-25
    - extra-android-m2repository

script: ./gradlew testDebug